//vendor
@import 'vendor/reset';
@import 'vendor/variables';
@import 'vendor/utilities';
// @import 'vendor/components';
@import 'vendor/bulma';
@import 'vendor/responsive';
@import 'vendor/nav';

//project
@import 'vendor/typography';
@import 'vendor/font-awesome';

html {
    background-color: #E9EBEE;
}

.center-xs{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center}
.middle-xs{-webkit-box-align:center;-ms-flex-align:center;align-items:center}

.my-headshot {
    border-radius: 100%;        
}
.headshot {
    border-radius: 100%;    
}

a.linked-in {
    color: #0077B5;
    &:hover,
    &:fcus,
    &:active {
        color: darken(#0077B5, 10%);
    }    
}

a.dribbble {
    color: #ea4c89;

    &:hover,
    &:focus,
    &:active {
        color: darken(#ea4c89, 10%);
    }
}

a.facebook {
    color: #3B5998;

    &:hover,
    &:focus,
    &:active {
        color: darken(#3B5998, 10%);
    }
}
.display-flex {
    display: flex;
}

.selected-work-bg-img {
    height: 300px;
    width: 100%;    
    display: flex;
    flex-direction: column;

    * {
        color: white;
    }
}

.patriot-powder {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65)
        ),
        url('/images/patriot-powder-mock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
}

.sds {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65)
        ),
        url('/images/SDS-prototype.jpg');  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
    background-blend-mode: multiply;
}

.sullivan-drugs {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65)
        ),
        url('/images/sullivans-gifts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
    background-blend-mode: multiply;
}

.hero.is-fullheight.sds {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65)
        ),
        url('/images/SDS-prototype.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
}


.hero.is-fullheight.patriot-powder {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65)
        ),
        url('/images/patriot-powder-mock.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
}

.hero.is-fullheight.sullivan-drugs {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65)
        ),
        url('/images/sullivans-gifts.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
}

    @media screen and (max-width: 768px) {
      #menu-toggle:checked + .nav-menu {
        display: block;
      }
    }
